@import '../../styles/config/colors';
@import '../../styles/mixins';

header {
  .logo {
    height: 55px;
    width: 55px;
  }

  .nav_bar {
    height: 75px;
    width: 100%;
    padding: 0;
    // background-color: $white !important;
    box-shadow: 0 2px 18px rgba(0, 0, 0, 0.12);

    .navbar_nav {
      .nav_item {
        margin-left: 40px;
        .nav_link {
          line-height: 27px;
          border-radius: 8px;
          color: $black;
          vertical-align: middle;
          &:hover {
            color: blue;
          }
        }
      }
    }
  }
}
