@import '../../styles/config/colors';
@import '../../styles/mixins';

.dashboard_page {
  .banner_section {
    background-image: url('../../static/assets/images/bg-image.png');

    @media (min-width: 768px) {
      height: 450px;
    }

    .banner_image {
      position: absolute;
      opacity: 0.25;
      right: 0px;
      top: 0px;
      height: 300px;
      z-index: -1;
      -webkit-filter: drop-shadow(0 3rem 0.05rem rgba(191, 216, 255, 1));
      filter: drop-shadow(0 3rem 0.05rem rgba(191, 216, 255, 1));

      @media (min-width: 768px) {
        display: inherit;
        height: 400px;
        top: 0px;
        opacity: 0.5;
      }
      @media (min-width: 992px) {
        height: 418px;
        opacity: 1;
        right: 3px;
      }
    }

    .banner_text {
      max-width: 70%;
      padding-top: 50px;
      padding-left: 125px;
      h1 {
        color: $white;
        font-size: 3rem;
        font-weight: 700;
        letter-spacing: 3px;
        margin-bottom: 1rem;
      }
      p {
        color: $white;
        font-size: 1.05rem;
        line-height: 1.75;
      }
    }
  }

  .info_section {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 20px;
    background: darkslategray !important;
    h1 {
      text-align: center;
      color: $white;
      text-transform: uppercase;
      margin-bottom: 80px;
    }
    .main {
      width: 100%;
      min-height: 380px;
      text-align: center;
      position: relative;
      cursor: pointer;
    }
    .service {
      background: $white;
      padding: 30px;
      border-radius: 10px;
      position: absolute;
      bottom: 0;
      z-index: 1;
      box-shadow: 0 0 20px -15px #030380;
      transition: transform 0.8s;
    }
    .service_logo {
      width: 130px;
      height: 130px;
      border-radius: 50%;
      margin: -90px auto 0;
      background: $white;
      border: 18px solid darkslategray;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .service h4 {
      height: 35px;
      width: 80%;
      margin: 50px auto;
      background: $white;
      position: relative;
    }
    .service h4::after,
    .service h4::before {
      content: '';
      width: 40px;
      height: 30px;
      position: absolute;
      z-index: -1;
    }
    .service h4::after {
      background: linear-gradient(to right, $white, grey);
      right: -5px;
      top: -5px;
    }
    .service h4::before {
      background: linear-gradient(to right, grey, $white);
      left: -5px;
      bottom: -5px;
    }
    .main::after {
      content: '';
      height: 200px;
      width: 80%;
      background: $white;
      position: absolute;
      border-radius: 10px;
      bottom: 0;
      left: 10%;
      z-index: -1;
      box-shadow: 0 0 20px -15px #030380;
      transition: transform 0.8s;
    }
    .main::before {
      content: '';
      height: 200px;
      width: 64%;
      background: $white;
      position: absolute;
      border-radius: 10px;
      bottom: 0;
      left: 18%;
      z-index: -2;
    }
    .main:hover .service {
      transform: translateY(-50px);
    }
    .main:hover::after {
      transform: translateY(-25px);
    }
    .service_logo img {
      transition: transform 1s;
    }
    .main:hover .service_logo img {
      transform: rotate(360deg);
    }
  }
}
