// Semantic Color variables

$mt-primaryColor: #1e1e51;
$mt-borderColor-primary: #376da3;
$mt-black: #000000;
$mt-grey: #868686;
$mt-white: #ffffff;
$mt-lightgrey: #9b9b9b;
$mt-aquaBlue: #56bdeb;
$mt-bgColor: #dfe8f2;
$mt-navColor: rgba(79, 79, 79, 0.74);
$mt-seconadaryColor: #f2f2f2;
$mt-modalBg: rgba(0, 0, 0, 0.6);
$mt-modalLabel: #333333;
$mt-modalInstructions: #666666;
$mt-InfoBg: #c4c4c4;
$mt-modalTitle: #8d8d8d;
$mt-modalSubTitle: #111111;
$mt-modalFormLabel: #6f6f6f;
$mt-formInputBorder: #e5e5e5;
$mt-borderColor: #dddddd;
$mt-bgColor: #f6f6f6;
$mt-green: #57b952;
$mt-bordergrey1: #999999;
$mt-grey2: rgba(79, 79, 79, 0.74);
$mt-green2: #01e593;
$mt-red: #ff4848;
$mt-yellow: #dcb200;
$mt-white2: #dee2e6;
$mt-white3: #c3cbcd;
$mt-blue2: #375ca3;
$mt-bordergrey: #ececec;
$mt-white-f9: #f9f9f9;
$mt-yellow-f9: #f9d84b;
$mt-blue-5c: #5c7ea2;
$mt-blue3: #131556;
$mt-boxshadow: rgba(0, 0, 0, 0.06);
$mt-modalcolorbg: #e6e6e6;
$mt-errorMessage: #ff0000;
$mt-email: #6c63ff;
$mt-successmsg: #ffb8b8;
$mt-tabborder: #ededed;
$mt-editsubtitle: #959595;
$mt-checkedCheckbox: #3c64b1;
$mt-checkbox: #c3cbcd;
$errormessage: #ac252f;
$logintitle: #56bdeb;
$lightergrey: rgba(153, 153, 153, 0.2);
$infotext: #848484;
$divider: #f3f3f3;
$dropdownshadow: rgba(92, 92, 92, 0.25);
$lightgreen: #61cda4;
$lightred: #ee7470;
$mustard: #f7cb6b;
