footer {
  background: #000000;
  color: #fff;
  padding: 2rem 0;
  text-align: center;
  font-size: 0.8rem;
  color: rgba(white, 0.4);

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: inline-block;

      .footer_links {
        display: block;
        padding: 0.4rem 0.7rem;
        font-size: 0.9rem;
        text-decoration: none;
        color: rgba(white, 0.7);

        &:hover {
          color: white;
        }
      }
    }
  }
}
