// Semantic Color variables

$mt-primaryColor: #1e1e51;
$mt-borderColor-primary: #376da3;
$mt-black: #000000;
$mt-grey: #868686;
$mt-white: #ffffff;
$mt-lightgrey: #9b9b9b;
$mt-aquaBlue: #56bdeb;
$mt-bgColor: #dfe8f2;
$mt-navColor: rgba(79, 79, 79, 0.74);
$mt-seconadaryColor: #f2f2f2;
$mt-modalBg: rgba(0, 0, 0, 0.6);
$mt-modalLabel: #333333;
$mt-modalInstructions: #666666;
$mt-InfoBg: #c4c4c4;
$mt-modalTitle: #8d8d8d;
$mt-modalSubTitle: #111111;
$mt-modalFormLabel: #6f6f6f;
$mt-formInputBorder: #e5e5e5;
$mt-borderColor: #dddddd;
$mt-bgColor: #f6f6f6;
$mt-green: #57b952;
$mt-bordergrey: #999999;
$mt-bordergrey: #ececec;
$mt-boxshadow: rgba(0, 0, 0, 0.06);
$mt-modalcolorbg: #e6e6e6;
$mt-checkedCheckbox: #3c64b1;
$mt-checkbox: #c3cbcd;
$errormessage: #ac252f;
$logintitle: #56bdeb;
$mt-successmsg: #ffb8b8;

$white: #ffffff;
$black: #000000;
$activeBlue: #4b71ff;