// Sass Variables

// Breakpoint sizes
$bp--sm: 320px;
$bp--md: 768px;
$bp--lg: 1024px;
$bp--xl: 1400px;

//z-index variables
$z-1030: 1030;

//padding variables
$padding-AddModal: 127px 155px;
$padding-CreateProfile: 247px 260px 228px 266px;
$padding-ModalProfile: 24px 65px 18px 90px;
$padding-ModalAdd: 30px 87px 18px 75px;
$padding-addModalbody: 18px 87px 30px 75px;
$padding-createModalbody: 27px 71px 39px 90px;
$padding-uploadModal: 391px 155px 405px 155px;
