// variables
$darkPurple: #00106a;
$lightBlue: #dfe9ff;
$activeBlue: #4b71ff;
$white: #ffffff;
$lightPurple: #989dc5;

// mixins
@mixin box-shadow($top, $left, $blur, $color, $inset:"") {
    -webkit-box-shadow:$top $left $blur $color #{$inset};
    -moz-box-shadow:$top $left $blur $color #{$inset};
    box-shadow:$top $left $blur $color #{$inset};
}

.landing_page {
  background: #000000;
  font-family: Lato, sans-serif;
}

// navigation styling
nav {
  height: 50px;
  background: #ffffff;
  @include box-shadow(0, .5rem, 1.5rem, rgba(0,0,0,.15));
  display: flex !important;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
  z-index: -2;
  position: relative;
  ul {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    li {
      margin-right: 30px;
      color: $activeBlue;
      &:last-child {
        margin-right: 0px;
      }
    }
  }
  .logo {
    height: 50px;
    width: 75px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    margin-right: 30px;
    background-color: #4b71ff;
    cursor: pointer;
  }
  .arrow_down {
    width: 0; 
    height: 0; 
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #fff;
  }
}


.login_btn {
  // @include OpenSans-semibold;

  height: 48px;
  background: $activeBlue;
  border-radius: 8px;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: #ffffff !important;
}

.login_btn_header {
  // @include OpenSans-semibold;

  height: 40px;
  width: 120px;
  background: $activeBlue;
  border-radius: 8px;
  font-size: 14px;
  line-height: 27px;
  text-align: center;
  color: #ffffff !important;
}


// banner styles
.banner_section {
  background-image: url("../../static/assets/images/bg-image.jpg");
  height: auto;
  display: flex;
  width: 100%;
  position: relative;
  z-index: 1;
  // background-color: #000000;
  @media (min-width: 768px) {
    height: 450px;
    margin-bottom: 32px;
  }
  .banner_image {
    position: absolute;
    opacity: .25;
    right: 0px;
    top: 0px;
    height: 300px;
    z-index: -1;
    -webkit-filter: drop-shadow(0 3rem 0.05rem rgba(191, 216, 255, 1));
  filter: drop-shadow(0 3rem 0.05rem rgba(191, 216, 255, 1));
      @media (min-width: 768px) {
        display: inherit; 
        height: 400px;
        top: 0px;
        opacity: 0.5;
      }
    @media (min-width: 992px) {
        height: 418px;
        opacity: 1;
        right: 3px;
      }
    }

  .banner_text {
    max-width: 687px;
    padding: 30px;
    h1 {
      color: $white;
      font-size: 3rem;
      font-weight: 700;
      letter-spacing: 3px;
      margin-bottom: 1rem;
    }
    p {
      color: $white;
      font-size: 1.05rem;
      line-height: 1.75;
    }
  }
  button {
  border: 0;
  border-radius: 50px;
  padding: .75rem 2.75rem;
  background: $activeBlue;
  color: $white;
  box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.25);
  cursor: pointer;
  position: relative;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  
  &:hover {
    -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
  transform: translateY(-5px);
    box-shadow: 0 1rem 1.5rem rgba(0,0,0,.25);
  }
}
}

$bp-s: 43.75em; //700px;
$bp-xs: 34.375em; //550px;
$color-primary: #1c262b;
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css');
.three-point-section{
  margin: 0 auto;
  width: 90%;
  max-width: 900px;
}
.section_primary{
  background: grey;
  color: white;
}
.features{
  text-align: center;
  padding: 1rem;

  &:hover{
    background: rgba(white,.1);
  }
  
  @media (max-width: $bp-s){
    width: 100%;
    margin: 0;
    text-align: left;
    border-bottom: 1px solid rgba(white,.2);

    &:last-child{
      border: none;
    }
  }
  
  i{
    font-size: 4rem;
    margin: 0 0 2rem 0;

    @media (max-width: $bp-s){
      font-size: 1.5rem;
      width: 2rem;
      text-align: center;
      margin: 0 0 1rem 0;
      float: left;
    }
  }

  p{
    margin: 0 0 1rem 0;
    font-size: 1rem;

    @media (max-width: $bp-s){
      margin-left: 3rem;
    }
  }
}


// footer styles
footer{
  background: #000000;
  color: #fff;
  padding: 2rem 0;
  text-align: center;
  font-size: .8rem;
  color: rgba(white,.4);

  ul{
    margin: 0;
    padding: 0;
    list-style: none;

    li{
      display: inline-block;

      a{
        display: block;
        padding: .4rem .7rem;
        font-size: .9rem;
        text-decoration: none;
        color: rgba(white,.7);

        &:hover{
          color: white;
        }
      }
    }
  }
}

@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1 {
  font-size: 24px;
  font-weight: 400;
  // text-align: center;
}

img {
height: auto;
max-width: 100%;
vertical-align: middle;
}

.btn {
color: #ffffff;
padding: 0.8rem;
font-size: 14px;
text-transform: uppercase;
border-radius: 4px;
font-weight: 400;
display: block;
width: 100%;
cursor: pointer;
border: 1px solid rgba(255, 255, 255, 0.2);
background: transparent;
}

.btn:hover {
background-color: rgba(255, 255, 255, 0.12);
}

.cards {
display: flex;
flex-wrap: wrap;
list-style: none;
margin: 0;
padding: 0;
}

.cards_item {
display: flex;
padding: 2rem;
}

.card {
background-color: white;
border-radius: 0.25rem;
box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
display: flex;
flex-direction: column;
overflow: hidden;
&:hover {
      transition: all 0.2s ease-out;
      box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
      top: -4px;
      border: 1px solid #cccccc;
      background-color: white;
    }
  
    &:before {
      position: absolute;
      z-index: -1;
      top: -16px;
      right: -16px;
      background: #00838d;
      height: 32px;
      width: 32px;
      border-radius: 32px;
      transform: scale(2);
      transform-origin: 50% 50%;
      transition: transform 0.15s ease-out;
    }
  
    &:hover:before {
      transform: scale(2.15);
    }
}

.card_content {
padding: 1rem;
background-color: #000000;
}

.card_title {
color: #ffffff;
font-size: 1.1rem;
font-weight: 700;
letter-spacing: 1px;
text-transform: capitalize;
margin: 0px;
}

.card_text {
color: #ffffff;
font-size: 0.875rem;
line-height: 1.5;
margin-bottom: 1.25rem;    
font-weight: 400;
}
.made_by{
font-weight: 400;
font-size: 13px;
margin-top: 35px;
text-align: center;
}