@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css');

// variables
$darkPurple: #00106a;
$lightBlue: #dfe9ff;
$activeBlue: #4b71ff;
$white: #ffffff;
$lightPurple: #989dc5;
$color-primary: #1c262b;

$bp-s: 43.75em; //700px;
$bp-xs: 34.375em; //550px;

// mixins
@mixin box-shadow($top, $left, $blur, $color, $inset:"") {
    -webkit-box-shadow:$top $left $blur $color #{$inset};
    -moz-box-shadow:$top $left $blur $color #{$inset};
    box-shadow:$top $left $blur $color #{$inset};
}

.landing_page {
  font-family: Lato, sans-serif;

  .architect_section{
    margin-top: 10px;
    background: #E8E9EE;
  }

  // banner styles
  .banner_section {
    background-image: url("../../static/assets/images/bg-image.jpg");

    @media (min-width: 768px) {
      height: 450px;
    }

    .banner_image {
      position: absolute;
      opacity: .25;
      right: 0px;
      top: 0px;
      height: 300px;
      z-index: -1;
      -webkit-filter: drop-shadow(0 3rem 0.05rem rgba(191, 216, 255, 1));
      filter: drop-shadow(0 3rem 0.05rem rgba(191, 216, 255, 1));
        
      @media (min-width: 768px) {
        display: inherit; 
        height: 400px;
        top: 0px;
        opacity: 0.5;
      }
      @media (min-width: 992px) {
        height: 418px;
        opacity: 1;
        right: 3px;
      }
    }

    .banner_text {
      max-width: 70%;
      padding-top: 50px;
      padding-left: 125px;
      h1 {
        color: $white;
        font-size: 3rem;
        font-weight: 700;
        letter-spacing: 3px;
        margin-bottom: 1rem;
      }
      p {
        color: $white;
        font-size: 1.05rem;
        line-height: 1.75;
      }
    }
  }

  .section_primary{
    background: grey;
    color: white;
  
    .three-point-section{
      margin: 0 auto;
      width: 90%;
      max-width: 900px;
    }
      
    .features{
      text-align: center;
      padding: 2rem;
  
      &:hover{
        background: rgba(white,.1);
      }
      
      @media (max-width: $bp-s){
        width: 100%;
        margin: 0;
        text-align: left;
        border-bottom: 1px solid rgba(white,.2);
  
        &:last-child{
          border: none;
        }
      }
      
      i{
        font-size: 4rem;
        margin: 0 0 2rem 0;
  
        @media (max-width: $bp-s){
          font-size: 1.5rem;
          width: 2rem;
          text-align: center;
          margin: 0 0 1rem 0;
          float: left;
        }
      }
  
      p{
        margin: 0 0 1rem 0;
        font-size: 1rem;
  
        @media (max-width: $bp-s){
          margin-left: 3rem;
        }
      }
    }
  }

.cards_section{
  background-color: white;
  box-shadow: 0 -1px 6px rgba(0, 0, 0, 0.4);

  .btn {
    color: #ffffff;
    padding: 0.8rem;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 400;
    display: block;
    width: 100%;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: transparent;
  }

  .btn:hover {
    background-color: rgba(255, 255, 255, 0.12);
    color: $activeBlue;
  }
  
  .cards_item {
    display: flex;
  }

  .card {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 50px 50px;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    &:hover {
      transition: all 0.2s ease-out;
      box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
      top: -4px;
      border: 1px solid #cccccc;
      background-color: white;
    }
    
    &:before {
      position: absolute;
      z-index: -1;
      top: -16px;
      right: -16px;
      background: #00838d;
      height: 32px;
      width: 32px;
      border-radius: 32px;
      transform: scale(2);
      transform-origin: 50% 50%;
      transition: transform 0.15s ease-out;
    }
    &:hover:before {
      transform: scale(2.15);
    }
  }
  
  .card_content {
    padding: 1rem;
    background-color: #000000;
  } 
  .card_title {
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0px;
  }
  .card_text {
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;    
    font-weight: 400;
  }
  }
}

img {
height: auto;
max-width: 100%;
vertical-align: middle;
}
