.hrlogin {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  position: relative;
  .hrlogincontainer {
    position: absolute;
    left: 53%;

    @include large-devices {
      left: 56%;
    }

    @include extra-large-devices {
      left: 58%;
    }

    @include tablet {
      top: -46px;
      left: -60px;
    }

    @include portrait-phones {
      top: -64px;
      left: -71px;
    }

    .hrlogincontainer__background {
      width: 266px;
      height: 220px;

      @include tablet {
        height: 173px;
        width: 173px;
      }

      @include portrait-phones {
        height: 173px;
        width: 173px;
      }
    }
  }

  .hrlogincontainer__maincontainer {
    min-height: 100vh;
    padding: 49px 30px 50px 60px;
    overflow: auto;
    margin: 0px;

    @include tablet {
      padding: 0px;
      margin: 0 auto;
      width: 60%;
    }

    @include portrait-phones {
      padding: 0px;
      margin: 0 auto;
      width: 90%;
    }

    .hrlogincontainer__leftcontainer {
      position: relative;
      @include tablet {
        display: none;
      }

      @include portrait-phones {
        display: none;
      }

      .hrlogincontainer__leftcontent {
        @include tablet {
          margin-top: 107px;
          margin-left: 0px;
          text-align: center;
        }

        @include portrait-phones {
          margin-top: 100px;
          margin-left: 0px;
          text-align: center;
        }

        .hrlogincontainer__leftbackground {
          min-height: calc(100% - 40px);
          max-height: 100%;
          width: 100%;

          //height: 100vh;
          // @include large-devices{
          //   height: 100vh;
          // }
          // @include desktop{
          //   height: 100vh;
          // }
          // @include tablet-pro{
          //   height: 100vh;
          // }
          // @include ipad-pro-devices{
          //   height: 100vh;
          // }
          @include tablet {
            display: none;
          }

          @include portrait-phones {
            display: none;
          }
        }
        .hrlogincontainer__leftcontentcontainer {
          position: absolute;
          top: 43px;
          left: 38px;

          @include large-devices {
            top: 50px;
            left: 90px;
          }

          @include extra-large-devices {
            top: 50px;
            left: 90px;
          }

          .hrlogincontainer__leftcontentlogo {
            width: 230px;
            height: 46px;
          }

          .hrlogincontainer__lefttitle {
            margin-top: 70px;
            line-height: 168px;
            font-size: 9em;
            font-weight: 900;
            color: $mt-white;
          }

          .hrlogincontainer__leftdescription {
            font-size: 3em;
            font-weight: 500;
          }
        }
      }
    }

    .hrlogincontainer__rightcontainer {
      @include tablet {
        height: 700px;
      }

      @include portrait-phones {
        height: 700px;
      }
      .hrlogincontainer__rightcontent {
        position: relative;
        top: 30%;
        @include tablet {
          top: 0%;
        }

        @include portrait-phones {
          top: 0%;
        }

        .hrlogincontainer__rightcontentlogo {
          height: 30px;
          width: 146px;
          margin-bottom: 45px;

          @include tablet {
            margin-top: 107px;
            width: 294px;
            height: 60px;
            margin-bottom: 32px;
          }

          @include portrait-phones {
            margin-top: 100px;
            width: 200px;
            height: 41px;
            margin-bottom: 8px;
          }
        }
        .hrlogincontainer__righttitle {
          display: none;
          @include tablet {
            display: block;

            line-height: 37.5px;
            font-size: 2em;
            font-weight: 900;
            color: $logintitle;
          }

          @include portrait-phones {
            display: block;
            line-height: 37.5px;
            font-size: 2em;
            font-weight: 900;
            color: $logintitle;
          }
        }
        .hrlogincontainer__rightsubtitle {
          display: none;
          @include tablet {
            display: block;
            margin-top: 18px;
            margin-bottom: 13px !important;
            font-size: 1.125em;
            font-weight: 500;
          }

          @include portrait-phones {
            display: block;
            margin-top: 8px;
            font-size: 1.125em;
            font-weight: 500;
            margin-bottom: 36px !important;
          }
        }

        .hrlogincontainer__loginform {
          margin-left: 30px;

          @include tablet {
            margin-left: 0px;
          }

          @include portrait-phones {
            margin-left: 0px;
          }

          h2 {
            font-size: 1.5em !important;
            font-weight: 500;
            line-height: 16px !important;
            color: $mt-black;
            @include tablet {
              font-weight: 300;
            }

            @include portrait-phones {
              font-weight: 300;
            }
          }

          .hrlogincontainer__rightdescription {
            color: $mt-lightgrey;
            font-size: 0.87em;
            font-weight: 400;
            margin-bottom: 33px;
            @include tablet {
              margin-bottom: 20px;
            }

            @include portrait-phones {
              margin-bottom: 20px;
            }
          }

          .hrlogincontainer__loginButton {
            background-color: $mt-primaryColor;
            border-radius: 4px;
            color: $mt-white;
            font-size: 1.125em;
            margin-bottom: 13px;
            margin-top: 30px;
            border: none;
            @include tablet {
              margin-bottom: 20px;
              margin-top: 20px;
            }

            @include portrait-phones {
              margin-bottom: 20px;
              margin-top: 20px;
            }
          }

          .hrlogincontainer__helplink {
            color: $mt-aquaBlue;
            font-size: 0.87em;
            font-weight: 400;
          }
        }
      }
    }
  }
  .hrform__background {
    display: none;

    @include tablet {
      display: block;
      position: absolute;
      bottom: 0;
    }
    @include portrait-phones {
      display: none;
    }
  }
  .hrform__backgroundMobile {
    display: none;

    @include tablet {
      display: none;
    }
    @include portrait-phones {
      display: block;
      position: absolute;
      bottom: 0;
    }
  }
}
